<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">

    <title>unSuccess payment</title>

</head>

<body bgcolor="#464646" class="generic-template body"
      style="-moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      background-color: #464646;
      margin: 0;padding: 0;">

<!-- Content Start -->
<table cellpadding="1" cellspacing="0" cols="1" bgcolor="#464646" align="center"
       style="max-width: 600px;
       text-align: center;display: flex;
      justify-content: center;align-items: center;">

    <!-- This encapsulation is required to ensure correct rendering on Windows 10 Mail app. -->
    <tr bgcolor="#464646">
        <td style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;">
            <!-- Seperator Start -->
            <table cellpadding="0" cellspacing="0" cols="1" bgcolor="#464646" align="center"
                   style="max-width: 600px; width: 100%;">
                <tr bgcolor="#464646">
                    <td height="30"
                        style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
                </tr>
            </table>
            <!-- Seperator End -->

            <!-- Generic Pod Left Aligned with Price breakdown Start -->
            <table align="center" cellpadding="0" cellspacing="0" cols="3" bgcolor="white" class="bordered-left-right"
                   style="border-left: 10px solid #464646; border-right: 10px solid #464646; max-width: 600px; width: 100%;">
                <tr height="50">
                    <td colspan="3"
                        style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
                </tr>
                <tr align="center">
                    <td width="36"
                        style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
                    <td class="text-primary"
                        style="color: #1d9112; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;">
                        <img
                                src="https://t4.ftcdn.net/jpg/04/96/42/91/360_F_496429171_10xDueUxVc4oEVGX5jVWZVR6j6vTT61Z.jpg"
                                alt="GO"
                                width="100" style="border: 0; font-size: 0; margin: 0; max-width: 100%; padding: 0;">
                    </td>
                    <td width="36"
                        style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
                </tr>
                <tr height="17">
                    <td colspan="3"
                        style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
                </tr>
                <tr align="center">
                    <td width="36"
                        style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
                    <td class="text-primary"
                        style="color: #eb1b24; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;">
                        <h1 style="color: #eb1b24; font-family: 'yekan-bakh', Helvetica, Arial, sans-serif; font-size: 24px; font-weight: 700; line-height: 34px; margin-bottom: 0; margin-top: 0;">
                            پرداخت انجام نشد</h1>
                    </td>
                    <td width="36"
                        style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
                </tr>
                <tr height="30">
                    <td colspan="3"
                        style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
                </tr>
                <tr height="10">
                    <td colspan="3"
                        style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
                </tr>
                <tr align="right">
                    <td width="36"
                        style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
                    <td style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;">
                        <p style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 22px; margin: 0; ">
                            <strong>:تراکنش ناموفق</strong><br/>
                            در صورت برداشت وجه از حساب <br/>
                            مبلغ تا ۷۲ ساعت آینده به حسابتان بازگشت داده خواهد شد <br/>
                        </p>
                    </td>
                    <td width="36"
                        style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
                </tr>
                <tr height="30">
                    <td style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
                    <td style="border-bottom: 1px solid #D3D1D1; color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
                    <td style="color: #464646; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 16px; vertical-align: top;"></td>
                </tr>

            </table>
            <!-- Generic Pod Left Aligned with Price breakdown End -->

        </td>
    </tr>
</table>
<!-- Content End -->
</body>
</html>